<h2>Inbox</h2>
<% if @received_messages %>
	<% @received_messages.each do |message| %>
		<%= User.find_by(id: message.sender_id).username %><br>
		<%= message.content %><br>
		<%= form_for :message, url: new_message_path, method: :get do |f| %>
			<%= f.hidden_field :match_id, value: message.match_id %>
			<%= f.submit "Reply" %>
		<% end %>
		<%= button_to "Delete", message_path(message), method: :delete %>
	<% end %>
<% end %>

<h2>Sent</h2>
<% if @sent_messages %>
	<% @sent_messages.each do |message| %>
		<%= User.find_by(id: message.receiver_id).username %><br>
		<%= message.content %><br>
	<% end %>
<% end %>
