




<a class="waves-effect waves-light btn" href="<%=new_pet_path%>" >Add Pet</a>



<div class="row container">
<% @pets.each do |pet| %>
      <div class="col s4">
      	<div class="card">
            <div class="card-image">
              <%= image_tag pet.image.show.url unless pet.image.blank? %>
              <span class="card-title"><%= pet.name %></span>
            </div>
            <div class="card-content">
            	<form action="/swipes" method="get">
					<input type="hidden" name="id" value="<%=pet.id%>">
					<input type="submit" value= "Start Swiping">
					</form>
              <p>Gender:<%= pet.gender %></p>
 				<p>Breed: <%= pet.breed %></p>
 				<p>Age:<%= pet.age %></p>
 				<p>Description:<%= pet.description %></p>
            </div>
            <div class="card-action">
              <a  href="<%=edit_pet_path(pet) %>">Edit</a>
 		 		<a  href="<%=delete_path(pet)%>" >Delete</a>
            </div>
          </div>
          </div>
          <%end %>

      

    

    </div>
          

