<br>
<div class="container"><%= form_for :pet do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :breed %>
<%= f.text_field :breed %>
<%= f.label :gender %>
<%= f.label :gender_male, 'Male' %>
<%= f.radio_button :gender, 'Male' %>
<%= f.label :gender_female, 'Female' %>
<%= f.radio_button :gender, 'Female' %>
<%= f.label :age %>
<%= f.text_field :age %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.label :image %>
<%= f.file_field :image %>
<%= f.submit "Add Pet" %>
<% end %></div>